.navBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #64CCDA;
    width: 100%;
    color: white;
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}